ul.cpb-colors{
	.is-Selected{
		outline: 3px solid #00a0d2;
		outline-offset: -3px;
	}

	.cpb-card {
		position: relative;
		padding: 5px;
		margin-right: 10px;
		text-align: center;
		background-color: #fff;
		border-radius: 1px;
		box-shadow: 0 0 0 1px rgba(0,0,0,.1);
		display: inline-block;
		cursor: pointer;
	}

	.cpb-color {
		min-height: 50px;
		min-width: 60px;
		display: block;
		border-radius: 2px;
		box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	}

	.cpb-code {
		font-size: .8rem;
    	font-weight: 600;
    	color: darkgray;
	}

	.cpb-add-color {
		display: inline-block;
	}

	.blocks-color-item__inline-menu {
		padding: 2px;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #00a0d2;
		display: -ms-inline-flexbox;
		display: inline-flex;
		z-index: 20;

		.components-button {
			color: #ffffff;
		}
	}

	.blocks-color-item__remove {
		padding: 0;
	}
}
